@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom tambahan kalau mau */
@layer components {
  .btn-primary {
    @apply bg-blue-600 text-white font-bold py-3 px-8 rounded-full hover:bg-blue-700 transition;
  }
}